$bp-largest: 75em; // 1200px
$bp-medium: 56.25em; //900px

.main-container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    height: 100vh;
  }
}

.header {
  height: auto;
  background-color: var(--color-primary);
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  @media only screen and (max-width: $bp-medium) {
    display: block;
  }
}

.content {
  display: flex;
  min-height: 90%;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-view {
  background-color: #fff;
  flex: 1;
}
