$bp-largest: 75em; // 1200px
$bp-medium: 56.25em; //900px

.skills-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem;
}

.skill-set {
  margin: 2rem;
  &__group {
    display: flex;
    justify-content: flex-start;
    &-name {
      padding: 0 2rem;
      font-size: 1.5rem;
      background-color: var(--color-primary-shade);
      color: var(--color-grey-light-1);
      width: 25%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media only screen and (max-width: $bp-medium) {
        width: 42%;
      }
    }
    &-progress {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .progress {
        height: 2.5rem;
        background-color: #e6e6e6;
        font-size: 1rem;
      }
      &-bar {
        .progress-bar {
          background-color: var(--color-primary-tint);
          transition: 1.1s 0.1s width ease-in-out;
        }
      }
    }
  }
}
